#block-about-me {
    background-color: $bg-1;

    #challenge-about-me {
        padding: 245px 195px 180px;
        display: flex;
    }
}
.img-right {
    position: relative;
  
    img {
        z-index: 1;
        position: relative;
    }

    &::before {
        display: block;
        content: "";
        width: 330px;
        height: 330px;
        background: $bg-2;
        z-index: 1;
        position: absolute;
        bottom: 276px;
        right: 360px;
    }
    &::after {
        display: block;
        content: "";
        width: 150px;
        height: 150px;
        background: #1d1524;
        position: absolute;
        left: 450px;
        top: 405px;
        transform: rotate(45deg);
    }
}

.content-left {
    z-index: 2;

    div {
        p {
            @include block-p;
            z-index: 2;
        }
    }
    padding-right: 105px;
    h2 {
        @include block-title;
       
        margin: 0;
    }
}
