footer {
    .region-footer {
        background-color: $bg-2;
      

        .menu {
           
            margin: 0;
            @include flex-content;
            height: 70px;
            width: 100%;
          

            .menu-item {
                display: inline-block;
                padding: 0 10px;
                a {
                    color: $grey;
                    text-decoration: none;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
        #block-footercreated {
            padding: 1px;
            background-color: $bg-3;

            p {
                font-size: 12px;
                color: $l-grey;
                margin: 0;
                height: 50px;
              
                @include flex-content;

                a {
                    color: $l-grey;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
