#block-top-content-header {
    height: 724px;
    background-position: center;
    background-size: cover;

    #challenge-home {
        @include flex-content;
        padding-top: 350px;
        flex-direction: column;
        top: -100px;
        position: relative;

        h2 {
            font-size: $font-24;
            color: $white;
            font-weight: 300;
            border-bottom: 1px solid $white;
            width: 249px;
            margin: 0;
            padding-bottom: 32px;
        }
    }

    .field {
        h1 {
            font-weight: 200;
            font-size: 64px;
            color: $white;
            line-height: 75px;
            margin: 22px 0 52px 0;
        }
    }
    .field--name-field-link {
        a {
            color: $white;
            text-decoration: none;
            width: 100%;
            text-transform: uppercase;
            transition: all 0.5s ease-in-out;
            background: $primary-color;
            border-radius: 5px;
            width: 180px;
            height: 50px;
            border: 1px solid $primary-color;
            cursor: pointer;
            @include flex-content;

            &:hover {
                @include transition-ease;
                background: black;
                border: $white solid 1px;
            }
        }
    }
}
