header {
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: visible;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;

    .region-header {
        width: 70%;
        margin: 0 auto;
        display: block;
        transform: translateY(0);
        height: 100%;
        background: transparent;
        text-align: right;
        overflow: hidden;
        list-style-type: none;
        padding-right: 1rem;
        @include transition-ease;
        z-index: 1;
        visibility: visible;
    }
    #block-adchallenge-branding {
        display: inline-flex;
        float: left;

        .site-slogan {
            margin: auto 20px;
            font-size: $font-24;
            color: white;
        }
    }
    nav {
        width: 100%;

        .menu {
            float: right;
            margin: 20px 0;

            .menu-item {
                display: inline-block;
                padding-bottom: 10px;

                a {
                    font-weight: 500;
                    margin-right: 42px;
                    text-decoration: none;
                    color: $white;

                    &::before {
                        @include transition-ease;
                        height: 3px;
                        content: "";
                        position: fixed;
                        background-color: #0097a7;
                        width: 38px;
                        bottom: 3px;
                        opacity: 0;
                    }
                    &:hover::before {
                        bottom: 25px;
                        opacity: 1;
                    }
                    &.active::before {
                        bottom: 25px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
