@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
header {
  position: fixed;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: visible;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}
header .region-header {
  display: block;
  transform: translateY(0);
  background: transparent;
  text-align: right;
  overflow: hidden;
  list-style-type: none;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  visibility: visible;
  height: 99px;
  display: flex;
  align-items: center;
  padding: 0 194px 0 195px;
}
header #block-adchallenge-branding {
  display: flex;
  align-items: center;
}
header #block-adchallenge-branding .site-slogan {
  margin-left: 31px;
  font-size: 24px;
  color: white;
}
header nav {
  width: 100%;
}
header nav .menu {
  float: right;
  width: 295px;
  display: flex;
  justify-content: space-between;
}
header nav .menu .menu-item {
  display: inline-block;
}
header nav .menu .menu-item a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
header nav .menu .menu-item a::before {
  transition: all 0.5s ease-in-out;
  height: 3px;
  content: "";
  position: fixed;
  background-color: #0097a7;
  width: 38px;
  bottom: 3px;
  opacity: 0;
}
header nav .menu .menu-item a:hover::before {
  bottom: 32px;
  opacity: 1;
}
header nav .menu .menu-item a.active::before {
  bottom: 32px;
  opacity: 1;
}

#block-about-me {
  background-color: #101010;
}
#block-about-me #challenge-about-me {
  padding: 245px 195px 180px;
  display: flex;
}

.img-right {
  position: relative;
}
.img-right img {
  z-index: 1;
  position: relative;
}
.img-right::before {
  display: block;
  content: "";
  width: 330px;
  height: 330px;
  background: #0f2123;
  z-index: 1;
  position: absolute;
  bottom: 276px;
  right: 360px;
}
.img-right::after {
  display: block;
  content: "";
  width: 150px;
  height: 150px;
  background: #1d1524;
  position: absolute;
  left: 450px;
  top: 405px;
  transform: rotate(45deg);
}

.content-left {
  z-index: 2;
  padding-right: 105px;
}
.content-left div p {
  line-height: 30px;
  font-weight: 400;
  color: #d4d4d4;
  z-index: 2;
}
.content-left h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
.content-left h2::after {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0097a7;
  margin: 24px 0 41px 0;
}

#block-top-content-header {
  height: 724px;
  background-position: center;
  background-size: cover;
}
#block-top-content-header #challenge-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 350px;
  flex-direction: column;
  top: -100px;
  position: relative;
}
#block-top-content-header #challenge-home h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  width: 249px;
  margin: 0;
  padding-bottom: 32px;
}
#block-top-content-header .field h1 {
  font-weight: 200;
  font-size: 64px;
  color: #fff;
  line-height: 75px;
  margin: 22px 0 52px 0;
}
#block-top-content-header .field--name-field-link a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  background: #ff5252;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  border: 1px solid #ff5252;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#block-top-content-header .field--name-field-link a:hover {
  transition: all 0.5s ease-in-out;
  background: black;
  border: #fff solid 1px;
}

#block-adchallenge-content {
  padding: 123px 195px 102px 195px;
  background-color: #101010;
}
#block-adchallenge-content h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 42px;
}
#block-adchallenge-content h2::after {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0097a7;
  margin: 24px 0 41px 0;
}
#block-adchallenge-content h2::after {
  margin: 24px 0 62px 0;
}
#block-adchallenge-content .view-content {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
}
#block-adchallenge-content .view-content .views-row {
  width: 100%;
}
#block-adchallenge-content .view-content article h2 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  text-transform: unset;
  line-height: 28.13px;
}
#block-adchallenge-content .view-content article h2::after {
  display: none;
}
#block-adchallenge-content .view-content article a {
  text-decoration: none;
  color: #fff;
}
#block-adchallenge-content .view-content article::after {
  display: none;
}
#block-adchallenge-content .view-content .node__content .createdDate {
  padding: 5px 0 20px 0;
  color: #949494;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
#block-adchallenge-content .view-content .node__content .field p {
  line-height: 30px;
  font-weight: 400;
  color: #d4d4d4;
  margin: 18.46px 0 45.85px 0;
}
#block-adchallenge-content .view-content .node__content .node__links ul li {
  padding: 0;
}
#block-adchallenge-content .view-content .node__content .node__links ul li a {
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  line-height: 16.41px;
  text-decoration: none;
}
#block-adchallenge-content .view-content .node__content .node__links ul li a::after {
  display: inline-block;
  padding-left: 8px;
  content: " ❯";
  transition: all 0.5s ease-in-out;
  color: #0097a7;
}
#block-adchallenge-content .view-content .node__content .node__links ul li a:hover::after {
  transform: translateX(4px);
  color: #ff5252;
  transition: all 0.5s ease-in-out;
}
#block-adchallenge-content img {
  width: 100%;
  height: 100%;
}

#block-latest-event {
  background-color: #161e21;
}
#block-latest-event #challenge-event {
  position: relative;
  padding: 120px 195px 120px 194px;
  display: flex;
  align-items: center;
}
#block-latest-event #challenge-event .img-left {
  width: 420px;
  height: 300px;
}
#block-latest-event #challenge-event .img-left .field {
  width: 100%;
  height: 100%;
}
#block-latest-event #challenge-event .img-left img {
  width: 420px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
#block-latest-event #challenge-event .content-right {
  padding-left: 60px;
}
#block-latest-event #challenge-event .content-right div p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d4d4d4;
  margin: 0;
}
#block-latest-event #challenge-event .content-right h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
#block-latest-event #challenge-event .content-right h2::after {
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0097a7;
  margin: 24px 0 41px 0;
}

footer .region-footer {
  background-color: #0f2123;
}
footer .region-footer .menu {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
}
footer .region-footer .menu .menu-item {
  display: inline-block;
  padding: 0 10px;
}
footer .region-footer .menu .menu-item a {
  color: #949494;
  text-decoration: none;
}
footer .region-footer .menu .menu-item a:hover {
  color: #fff;
}
footer .region-footer #block-footercreated {
  padding: 1px;
  background-color: #1e2c2e;
}
footer .region-footer #block-footercreated p {
  font-size: 12px;
  color: #d4d4d4;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .region-footer #block-footercreated p a {
  color: #d4d4d4;
}
footer .region-footer #block-footercreated p a:hover {
  color: #fff;
}

html {
  scroll-margin-top: 120px;
  font-size: 14px;
  font-family: "Roboto";
}

body {
  color: #fff;
}

@media screen and (max-width: 300px) {
  #block-adchallenge-content {
    padding: 41px 10px 34px 10px;
  }
  #block-adchallenge-content .view-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 300px) and (max-width: 800px) {
  .img-right {
    position: relative;
    overflow: hidden;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #block-adchallenge-branding {
    justify-content: center;
  }
  header nav .menu .menu-item a:hover::before {
    bottom: 9px;
  }
  header nav .menu .menu-item a.active::before {
    bottom: 9px;
  }
  header .region-header {
    display: inline-table;
    padding: 0 50px 0 50px !important;
  }

  #block-adchallenge-content {
    padding: 123px 50px 102px 50px !important;
  }
  #block-adchallenge-content .view-content {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  #challenge-event {
    display: block !important;
    padding: 123px 50px 102px 50px !important;
  }
  #challenge-event .img-left {
    width: 100% !important;
    height: 100% !important;
  }
  #challenge-event .img-left img {
    width: 100% !important;
    height: 100% !important;
  }
  #challenge-event .content-right {
    padding: 30px 0 0 0 !important;
  }

  #block-about-me #challenge-about-me {
    padding: 245px 50px 180px 50px !important;
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  header .region-header {
    padding: 0 100px 0 100px;
  }

  #block-adchallenge-content {
    padding: 123px 100px 102px 100px;
  }
  #block-adchallenge-content .view-content {
    grid-template-columns: repeat(2, 1fr);
  }

  #block-latest-event #challenge-event {
    position: relative;
    padding: 123px 100px 102px 100px;
    /* display: flex; */
    align-items: center;
  }

  #block-about-me #challenge-about-me {
    padding: 245px 100px 180px 100px;
    display: block;
  }
  #block-about-me #challenge-about-me .content-left {
    padding-right: 0;
    position: relative;
  }
  #block-about-me #challenge-about-me img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  #block-adchallenge-content .view-content {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */